<div id="sections">

  <section id="frontend">
    <span class="stickers">
      <img src="./assets/img/scotch.png" class="stickerOne" alt="Pegatina"/>
      <img src="./assets/img/scotch.png" class="stickerTwo" alt="Pegatina"/>
    </span>
    <h2 class="titulo">Noticias de front-end</h2>
    <article class="article">
      <span class="icon">a</span>
      <p>
        <a href="#">Título de la entrada</a>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy
      </p>
      <span class="date">[20-12-2020. Victor Robles Web]</span>
    </article>
    <article class="article">
      <span class="icon">a</span>
      <p>
        <a href="#">Título de la entrada</a>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy
      </p>
      <span class="date">[20-12-2020. Victor Robles Web]</span>
    </article>
    <article class="article">
      <span class="icon">a</span>
      <p>
        <a href="#">Título de la entrada</a>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy
      </p>
      <span class="date">[20-12-2020. Victor Robles Web]</span>
    </article>
    <article class="article">
      <span class="icon">a</span>
      <p>
        <a href="#">Título de la entrada</a>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy
      </p>
      <span class="date">[20-12-2020. Victor Robles Web]</span>
    </article>
  </section>

  <section id="backend">
    <span class="stickers">
      <img src="./assets/img/scotch.png" class="stickerOne" alt="Pegatina"/>
      <img src="./assets/img/scotch.png" class="stickerTwo" alt="Pegatina"/>
    </span>
    <h2 class="titulo red">Noticias de back-end</h2>
    <article class="article">
      <span class="icon">a</span>
      <p>
        <a href="#">Título de la entrada</a>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy
      </p>
      <span class="date">[20-12-2020. Victor Robles Web]</span>
    </article>
    <article class="article">
      <span class="icon">a</span>
      <p>
        <a href="#">Título de la entrada</a>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy
      </p>
      <span class="date">[20-12-2020. Victor Robles Web]</span>
    </article>
    <article class="article">
      <span class="icon">a</span>
      <p>
        <a href="#">Título de la entrada</a>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy
      </p>
      <span class="date">[20-12-2020. Victor Robles Web]</span>
    </article>
    <article class="article">
      <span class="icon">a</span>
      <p>
        <a href="#">Título de la entrada</a>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy
      </p>
      <span class="date">[20-12-2020. Victor Robles Web]</span>
    </article>
  </section>

  <section id="instructor">
    <span class="stickers">
      <img src="./assets/img/scotch.png" class="stickerOne" alt="Pegatina"/>
      <img src="./assets/img/scotch.png" class="stickerTwo" alt="Pegatina"/>
    </span>
    <h2 class="titulo orange">Noticias del instructor</h2>
    <article class="article">
      <span class="icon">a</span>
      <p>
        <a href="#">Título de la entrada</a>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy
      </p>
      <span class="date">[20-12-2020. Victor Robles Web]</span>
    </article>
    <article class="article">
      <span class="icon">a</span>
      <p>
        <a href="#">Título de la entrada</a>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy
      </p>
      <span class="date">[20-12-2020. Victor Robles Web]</span>
    </article>
    <article class="article">
      <span class="icon">a</span>
      <p>
        <a href="#">Título de la entrada</a>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy
      </p>
      <span class="date">[20-12-2020. Victor Robles Web]</span>
    </article>
    <article class="article">
      <span class="icon">a</span>
      <p>
        <a href="#">Título de la entrada</a>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy
      </p>
      <span class="date">[20-12-2020. Victor Robles Web]</span>
    </article>
  </section>

</div>



