<div id="sections" *ngFor="let bloque of bloqueNoticias">

  <section [id]="bloque.id">
    <span class="stickers">
      <img src="./assets/img/scotch.png" class="stickerOne" alt="Pegatina"/>
      <img src="./assets/img/scotch.png" class="stickerTwo" alt="Pegatina"/>
    </span>
    <h2 [class]="bloque.class">{{bloque.titulo}}</h2>
    <ng-container *ngFor="let noticia of bloque.noticias">
      <article class="article">
        <span class="icon">a</span>
        <p>
          <a href="{{noticia.link}}">{{noticia.titulo}}</a>
          {{noticia.texto}}
        </p>
        <span class="date">{{noticia.fecha}}</span>
      </article>
    </ng-container>
  </section>

</div>



