<header id="header">
  <!--  Cabecera-->
  <div id="logotipo">
    <img src="../../../assets/img/logo.png" alt="Logotipo de la web"/>
  </div>
  <h1><a href="#">MASTER EN CSS</a></h1>

  <!--  Navbar-->
  <nav id="nav">
    <ul>
      <li>
        <a href="#">Inicio</a>
      </li>
      <li>
        <a href="#">Contenido</a>
      </li>
      <li>
        <a href="#">Requerimientos</a>
      </li>
      <li>
        <a href="#">Lenguajes</a>
        <ul>
          <li>
            <a href="#">HTML</a>
          </li>
          <li>
            <a href="#">CSS</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Frameworks</a>
        <ul>
          <li>
            <a href="#">LESS</a>
          </li>
          <li>
            <a href="#">SASS</a>
          </li>
          <li>
            <a href="#">Bootstrap</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Proyectos</a>
      </li>
      <li>
        <a href="#">El instructor</a>
      </li>
      <li>
        <a href="#">Reseñas</a>
      </li>
      <li>
        <a href="#">Blog</a>
      </li>
      <li>
        <a href="#">Contacto</a>
      </li>
    </ul>
  </nav>
</header>
