<header id="header">
  <!--  Cabecera-->
  <div id="logotipo">
    <img src="../../../assets/img/logo.png" alt="Logotipo de la web"/>
  </div>
  <h1><a href="#">MASTER EN CSS</a></h1>

  <!--  Navbar-->
  <nav id="nav">
    <ul *ngFor="let enlace of navbarLinks">
      <li>
        <a [routerLink]="enlace.link.route">{{enlace.link.text}}</a>
        <ul *ngIf="enlace.hasSubLinks">
          <ng-container *ngFor="let subEnlace of enlace.subLinks">
            <li>
              <a [routerLink]="subEnlace.route">{{subEnlace.text}}</a>
            </li>
          </ng-container>
        </ul>
      </li>
    </ul>
  </nav>

</header>
